{{- if .Values.ingress.enabled }}
{{- $fullName := include "wordpress.fullname" . }}
{{- $svcPort := .Values.service.ports.http }}
{{- if and .Values.ingress.className (not (hasPrefix "nginx" .Values.ingress.className)) }}
  {{- $_ := set .Values.ingress "className" (printf "nginx-%s" .Values.ingress.className) }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- if .Values.ingress.secrets }}
    {{- range .Values.ingress.secrets }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
    {{- else }}
    - hosts:
        - {{ .Values.ingress.hostname | quote }}
        {{- if .Values.ingress.tlsWwwPrefix }}
        - www.{{ .Values.ingress.hostname | quote }}
        {{- end }}
        {{- range .Values.ingress.extraHosts }}
        - {{ .host | quote }}
        {{- end }}
      {{- if .Values.ingress.selfSigned }}
      secretName: {{ $fullName }}-tls
      {{- else }}
      secretName: {{ $fullName }}-tls
      {{- end }}
    {{- end }}
    {{- range .Values.ingress.extraTls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- if .Values.ingress.hostname }}
    - host: {{ .Values.ingress.hostname | quote }}
      http:
        paths:
          {{- if .Values.ingress.path }}
          - path: {{ .Values.ingress.path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .Values.ingress.pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
          {{- range .Values.ingress.extraPaths }}
          - path: {{ .path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
    {{- range .Values.ingress.extraHosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- if .path }}
          - path: {{ .path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
          {{- range .paths }}
          - path: {{ .path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
    {{- range .Values.ingress.extraRules }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}

{{- if .Values.secondaryIngress.enabled }}
---
{{- $fullName := include "wordpress.fullname" . }}
{{- $svcPort := .Values.service.ports.http }}
{{- if and .Values.secondaryIngress.className (not (hasPrefix "nginx" .Values.secondaryIngress.className)) }}
  {{- $_ := set .Values.secondaryIngress "className" (printf "nginx-%s" .Values.secondaryIngress.className) }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-secondary
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
  {{- with .Values.secondaryIngress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.secondaryIngress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.secondaryIngress.className }}
  {{- end }}
  {{- if .Values.secondaryIngress.tls }}
  tls:
    {{- if .Values.secondaryIngress.secrets }}
    {{- range .Values.secondaryIngress.secrets }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
    {{- else }}
    - hosts:
        - {{ .Values.secondaryIngress.hostname | quote }}
        {{- if .Values.secondaryIngress.tlsWwwPrefix }}
        - www.{{ .Values.secondaryIngress.hostname | quote }}
        {{- end }}
        {{- range .Values.secondaryIngress.extraHosts }}
        - {{ .host | quote }}
        {{- end }}
      {{- if .Values.secondaryIngress.selfSigned }}
      secretName: {{ $fullName }}-secondary-tls
      {{- else }}
      secretName: {{ $fullName }}-secondary-tls
      {{- end }}
    {{- end }}
    {{- range .Values.secondaryIngress.extraTls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- if .Values.secondaryIngress.hostname }}
    - host: {{ .Values.secondaryIngress.hostname | quote }}
      http:
        paths:
          {{- if .Values.secondaryIngress.path }}
          - path: {{ .Values.secondaryIngress.path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .Values.secondaryIngress.pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
          {{- range .Values.secondaryIngress.extraPaths }}
          - path: {{ .path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
    {{- range .Values.secondaryIngress.extraHosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- if .path }}
          - path: {{ .path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
          {{- range .paths }}
          - path: {{ .path }}
            {{- if semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
    {{- range .Values.secondaryIngress.extraRules }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
